body{
    font-size: 20px;
}

header{
    font-family:'Courier New', Courier, monospace;
    background-color: #A0D2EB;
    color: white;
    text-align: center;
    padding: 40px;
    text-transform: uppercase;
}
h1{
    display: inline-block;
    border: 4px dotted #2A363B;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif; 
}

h2{
    text-align: center;
}
h3{
    font-family: Arial, Helvetica, sans-serif; 
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #2A363B;
}
nav a{
    color: #FF847C;
    padding: 15px 20px;
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

aside{
    background-color:#2430ded2;
    padding: 20px;
    flex: 30px;
}

section{
    flex: 70%;
    background-color:#d1cedd;
    padding: 20px;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: #525f65bb;
}

@media screen and (max-width: 700px){
    nav, .row{
        flex-direction: column;
    }
}
.caja{
    display: flex;
    justify-content: center;
    align-items: center;
}
.foto1{
    height: 40%;
    width: 65%;
}